VITE_GOOGLE_MAPS_API_KEY=
VITE_GEMINI_API_KEY=

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=

# Kalau tidak menggunakan Oauth dari Firebase, pakai google cloud console
VITE_OAUTH_PROVIDER=   # 'firebase' untuk menggunakan oauth dari firebase, 'google' untuk menggunakan oauth dari google cloud console. Fallback ke firebase
VITE_GOOGLE_CLIENT_ID=